/* ============ STLE ============ */

/* ========== help ========== */

.no-all {
   cursor: none;
   user-select: none;
   pointer-events: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
}

.no-copy {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.no-event {
   pointer-events: none;
}


/* ========== shell ========== */

#wrapper {
   z-index: 10;
   position: relative;
   min-width: 320px;
   min-height: 100%;
}

/* ========== shell APP ========== */

.app {
   min-height: 100vh;
   width: 100%;
}

.app__container {
   margin: 0 auto;
   padding: var(--app-padding-y) var(--app-padding-x);
   max-width: calc(1400px + (2 * var(--app-padding-x)));
}

.app__body {
   display: flex;
   min-height: calc(100vh - (2 * var(--app-padding-y)));
   width: 100%;
}

/* ========== shell CONTENT ========== */

.content {
   display: flex;
   flex: 1 0 auto;
   width: 100%;
}

.content__container {
   overflow: hidden;
   display: flex;
   flex: 1 1 auto;
   margin: 0 auto;
   max-width: var(--content-mw);
}

.content__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

/* ========== screen ========== */

.screen {
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.screen__box {
   width: 100%;
   height: 100%;
   background: var(--pattern-img) repeat;
   background-size: var(--pattern-size) var(--pattern-size);
   opacity: var(--pattern-opacity);
}

.screen_unuse {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
   user-select: none;
   cursor: none;
}

/* ========== header ========== */

.header {
   padding: var(--header-padding);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

/* avatar */

.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--avatar-size);
   height: var(--avatar-size);
}

.avatar__box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80%;
   height: 80%;
}

.logo {
   width: 100%;
   cursor: pointer;
}

.logo path {
   fill: var(--avatar-bg);
}

/* title */

.header span {
   margin: 0;
   padding: 0;
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.title__name {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: var(--title-name-size);
   line-height: var(--title-line-height);
   letter-spacing: var(--title-letter-spacing);
   text-transform: uppercase;
   background-clip: text;
   text-fill-color: transparent;
   background: var(--title-name-color);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

/* subtitle */

.subtitle {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.subtitle__link {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: var(--title-text-size);
   line-height: var(--title-line-height);
   text-decoration: none;
   letter-spacing: var(--title-letter-spacing);
   text-transform: uppercase;
   color: var(--title-text-color);
}

/* ========== main ========== */

.main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}

.section {
   margin: var(--section-margin);
   width: 100%;
}

/* icon */

.icon {
   margin: 0 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   pointer-events: none;
}

.icon_16 {
   width: 16px;
   height: 16px;
}

.icon_24 {
   width: 24px;
   height: 24px;
}

.icon__img {
   width: 100%;
}

/* ========= caption ========= */

.caption {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.caption__title {
   margin: 0;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: var(--caption-title);
   letter-spacing: var(--title-letter-spacing);
   text-transform: uppercase;
   color: var(--caption-color);
}

/* ========= workspace ========= */

.workspace {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}


.prompt {
   display: flex;
   margin: var(--prompt-margin);
   width: 100%;
}


.prompt__text {
   flex: 1 0;
   width: calc(100% - 220px);
   display: flex;
   flex-direction: column;
   margin: var(--prompt-text-margin);
}

/* PROMPT INPUT */

.prompt-input {
   flex: 1;
   margin: var(--prompt-input-margin);
   width: 100%;
   height: 100%;
}

/* box */
.prompt-input__content {
   /* display: flex;
   height: 100%; */
   display: flex;
   width: 100%;
}

/* textarea */
.input-template {
   padding: 30px;
   min-height: 110px;
   width: 100%;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 170%;
   text-align: justify;
   letter-spacing: 0.02em;

   border-radius: 5px;
   border: 2px solid rgba(255, 255, 255, 0.05);

   color: rgba(255, 255, 255, 0.8);
   background-color: var(--prompt-input-bg);
}

._autosize {
   overflow: hidden;
   resize: none;
   outline: none;
}

/* textarea placeholder*/
.input-template::placeholder {
   color: rgba(255, 255, 255, 0.4);
}


/* PROMPT OUTPUT */

.prompt-output {
   flex: 1 0 200px;
   width: 100%;
   height: 100%;
}

.prompt-output__content {
   width: 100%;
   height: 100%;

   border-radius: 5px;

   background-color: var(--prompt-output-bg);
}

.prompt-template {
   padding: 30px;
   width: 100%;
   height: 100%;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 170%;
   text-align: justify;
   letter-spacing: 0.02em;

   color: rgba(255, 255, 255, 0.8);
}

.prompt-template a {
   text-decoration: none;
}

.keyword {
   font-weight: 600;
   text-transform: uppercase;
}

.keyword_red {
   color: rgba(226, 98, 74, 1);
}

.keyword_green {
   color: rgba(76, 179, 73, 1);
}

.parameter {
   font-weight: 600;
   text-transform: lowercase;
   color: rgba(99, 165, 234, 1);
}

/* PROMPT SETTINGS */

.prompt__settings {
   flex: 0 0 200px;
   width: var(--prompt-settings-w);
   /* clear */
   background-color: rgba(240, 157, 224, 0.1);
}

.settings__content {
   height: 300px;
}

/* PROMPT KEYWORDS */


.keywords {
   width: 100%;
   /* clear */
   background-color: rgba(240, 157, 224, 0.1);
}

.keywords__content {
   height: 200px;
}

/* ========= caption ========= */

.result {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.result__header {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.result__line {
   margin: var(--line-margin);
   width: 100%;
   height: var(--line-h);
   border-radius: var(--line-h);
   background-color: var(--line-bg);
}


.result__content {
   margin: var(--result-content-margin);
   width: 100%;
}

.result__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}


.result_item {
   margin: var(--item-margin);
   width: 100%;
   background-color: var(--prompt-output-bg);
}

.result_prompt {
   height: 100px;
}

/* ========== footer ========== */

.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--footer-margin);
   width: 100%;
}

.copyright {
   padding: 5px;
}

.copyright__box {
   display: flex;
   font-size: var(--copyright-size);
   color: var(--copyright-color);
}

.copyright__item {
   text-transform: capitalize;
   margin: 0 2px;
   color: inherit;
}

.copyright_link {
   overflow: hidden;
   display: block;
   position: relative;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--copyright-color);
   transition: color 150ms ease-out;
}

.copyright_link:hover {
   color: var(--copyright-color-h);
}

.copyright_link::after {
   content: "";
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 1px;
   border-radius: 1px;
   background-color: var(--copyright-color);
   transform: translateX(-105%);
   transition: transform 150ms ease-out;
}

.copyright_link:hover::after {
   transform: translateX(0);
}


/* ============ MEDIA ============ */

@media (max-width: 1024px) {
   :root {}
}

@media (max-width: 768px) {
   .prompt {
      flex-direction: column;
   }

   .prompt__text {
      width: 100%;
   }
}

@media (max-width: 500px) {
   :root {}
}

@media (max-width: 425px) {
   :root {}
}

@media (max-width: 375px) {
   :root {}
}

@media (max-width: 320px) {
   :root {}
}


/* ============ END :) ============ */