/* ============ STLE ============ */

/* ========== help ========== */

.no-all {
   cursor: none;
   user-select: none;
   pointer-events: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
}

.no-copy {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.no-event {
   pointer-events: none;
}


/* ========== shell ========== */

#wrapper {
   z-index: 10;
   position: relative;
   min-width: 320px;
   min-height: 100%;
}

/* ========== shell APP ========== */

.app {
   min-height: 100vh;
   width: 100%;
}

.app__container {
   margin: 0 auto;
   padding: var(--app-padding-y) var(--app-padding-x);
   max-width: calc(1400px + (2 * var(--app-padding-x)));
}

.app__body {
   display: flex;
   min-height: calc(100vh - (2 * var(--app-padding-y)));
   width: 100%;
}

/* ========== shell CONTENT ========== */

.content {
   display: flex;
   flex: 1 0 auto;
   width: 100%;
}

.content__container {
   overflow: hidden;
   display: flex;
   flex: 1 1 auto;
   margin: 0 auto;
   max-width: var(--content-mw);
}

.content__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

/* ========== screen ========== */

.screen {
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.screen__box {
   width: 100%;
   height: 100%;
   background: var(--pattern-img) repeat;
   background-size: var(--pattern-size) var(--pattern-size);
   opacity: var(--pattern-opacity);
}

.screen_unuse {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
   user-select: none;
   cursor: none;
}

/* ========== header ========== */

.header {
   padding: var(--header-padding);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

/* avatar */

.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--avatar-size);
   height: var(--avatar-size);
}

.avatar__box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80%;
   height: 80%;
}

.logo {
   width: 100%;
   cursor: pointer;
}

.logo path {
   fill: var(--avatar-bg);
}

/* title */

.header span {
   margin: 0;
   padding: 0;
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.title__name {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;

   font-size: var(--title-name-size);
   line-height: var(--title-line-height);
   letter-spacing: var(--title-letter-spacing);

   text-transform: uppercase;
   background-clip: text;
   text-fill-color: transparent;
   background: var(--title-name-color);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

/* subtitle */

.subtitle {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.subtitle__link {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: var(--title-text-size);
   line-height: var(--title-line-height);
   text-decoration: none;
   letter-spacing: var(--title-letter-spacing);
   text-transform: uppercase;
   color: var(--title-text-color);
}

/* ========== main ========== */

.main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}

.section {
   margin: var(--section-margin);
   width: 100%;
}

/* icon */

.icon {
   margin: 0 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   height: 20px;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   pointer-events: none;
}

.icon_10 {
   width: 10px;
   height: 10px;
}

.icon_12 {
   width: 12px;
   height: 12px;
}

.icon_16 {
   width: 16px;
   height: 16px;
}

.icon_20 {
   width: 20px;
   height: 20px;
}

.icon_24 {
   width: 24px;
   height: 24px;
}

.icon__img {
   width: 100%;
}

/* ========= caption ========= */

.caption {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.caption__title {
   margin: 0;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: var(--caption-title);
   letter-spacing: var(--title-letter-spacing);
   text-transform: uppercase;
   color: var(--caption-color);
}

/* ========= workspace ========= */

.workspace {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}


.prompt {
   display: flex;
   margin: var(--prompt-margin);
   width: 100%;
}


.prompt__text {
   flex: 1 0;
   width: calc(100% - (var(--prompt-settings-w) + var(--prompt-settings-margin)));
   display: flex;
   flex-direction: column;
   margin: var(--prompt-text-margin);
}

/* PROMPT INPUT */

.prompt-input {
   flex: 1;
   margin: var(--prompt-input-margin);
   width: 100%;
   height: 100%;
}

/* box */
.prompt-input__content {
   position: relative;
   display: flex;
   width: 100%;
}

.btn {
   position: absolute;
   bottom: var(--prompt-padding-btn);
   right: var(--prompt-padding-btn);

   display: flex;
   align-items: center;
   justify-content: center;

   padding: 5px 10px;
   border-radius: 4px;

   pointer-events: all;
   cursor: pointer;
   transition: opacity 150ms ease-in-out;
   opacity: 0.5;

   background-color: rgba(255, 255, 255, 0.05);
}

.btn span {
   margin-left: 6px;

   font-family: 'Montserrat';
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   text-transform: uppercase;
}

.btn .icon__img {
   width: 14px;
   height: 14px;
}

/* text */
.input-template,
.prompt-template {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: var(--prompt-font-size);
   line-height: var(--prompt-line-height);
   text-align: var(--prompt-text-align);
   letter-spacing: var(--prompt-letter-spacing);
   color: var(--prompt-text-color);
}


/* textarea */
.input-template {
   padding: var(--prompt-padding) var(--prompt-padding) var(--prompt-padding-bottom) var(--prompt-padding);
   min-height: var(--input-mh);
   width: 100%;

   border-radius: var(--prompt-border-radius);
   border: var(--input-border-w) solid var(--input-border-bg);
   background-color: var(--prompt-input-bg);
}

._autosize {
   overflow: hidden;
   resize: none;
   outline: none;
}

/* textarea placeholder*/
.input-template::placeholder {
   color: var(--input-border-color-ph);
}

.input-template:focus+#btnRestart {
   opacity: 0.8;
}


/* PROMPT OUTPUT */

.prompt-output {
   flex: 1 0 var(--output-mh);
   width: 100%;
   height: 100%;
}

.prompt-output__content {
   width: 100%;
   height: 100%;

   border-radius: var(--prompt-border-radius);
   background-color: var(--prompt-output-bg);
}

.prompt-template {
   padding: var(--prompt-padding);
   width: 100%;
   height: 100%;
}

.prompt-template a {
   text-decoration: none;
}

.keyword {
   font-weight: 600;
   text-transform: uppercase;
}

.keyword_red {
   color: var(--keyword-red-color);
}

.keyword_green {
   color: var(--keyword-green-color);
}

.parameter {
   font-weight: 600;
   text-transform: lowercase;
   color: var(--parameter-color);
}

/* PROMPT SETTINGS */

.prompt__settings {
   flex: 0 0 var(--prompt-settings-w);
   width: var(--prompt-settings-w);
   /* clear */
   background-color: rgba(240, 157, 224, 0.1);
}

.settings__content {
   height: 300px;
}

/* PROMPT KEYWORDS */


.keywords {
   width: 100%;
   /* clear */
   background-color: rgba(240, 157, 224, 0.1);
}

.keywords__content {
   width: 100%;
   padding: 10px 20px;
}

.keywords__list {
   width: 100%;

   display: flex;
   flex-direction: column;
}

.keyword__item {
   width: 100%;
   min-height: 24px;
   margin: 5px 0;

   display: flex;
   align-items: flex-start;
}

.keyword__item.lock {}

/* top */

.keyword__top {
   flex: 0 0 200px;
   width: 200px;
   height: 24px;

   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.keyword__icon {
   flex: 0 0 12px;
   margin-right: 6px;
}

.keyword__title {
   position: relative;
   flex: 1;

   width: calc(100% - 18px - 34px);

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 11px;
   line-height: 130%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
}

.keyword__title-container {
   max-width: 100%;
   width: fit-content;
   cursor: help;
}

.keyword__title-container:hover::after {
   content: attr(data-title);

   display: block;
   overflow: hidden;
   position: absolute;
   bottom: calc(100% + 4px);
   left: 0;

   padding: 5px;
   width: 100%;
   height: auto;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 130%;
   letter-spacing: 0.02em;
   text-transform: none;

   white-space: pre-line;
   word-break: break-all;

   border-radius: 2px;
   border: 1px dashed rgba(255, 255, 255, 0.2);

   color: rgba(255, 255, 255, 0.7);
   background-color: rgba(255, 255, 255, 0.01);
}

.keyword__title span {
   display: block;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.keyword__item.lock .keyword__title {
   color: var(--keyword-red-color);
}

.keyword__item .keyword__title {
   color: var(--keyword-green-color);
}

.keyword__status {
   margin: 0 10px;
   width: 14px;
   height: 14px;
   flex: 0 0 14px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.keyword__status .svg-lock {
   width: 100%;
   cursor: pointer;
}

.keyword__status .svg-lock g {
   width: 100%;
   cursor: pointer;
   transform-origin: center center;
}

.keyword__status path {
   transition: all 200ms ease-in-out;
}

.keyword__status path {
   fill: rgba(76, 179, 73, 1);
}

.keyword__item.lock .keyword__status path {
   fill: rgba(226, 98, 74, 1);
}

.keyword__item .lock-circle {
   transform-origin: center center;
   transform: rotate(20deg) translateX(-2px);
}

.keyword__item.lock .lock-circle {
   transform: rotate(0);
}


/* words */

.keyword__words {
   flex: 1 0;
   width: calc(100% - 200px);
   height: 100%;

   display: flex;
   align-items: flex-start;
   justify-content: center;
}

.buttons {
   flex: 0 0 48px;
   width: 48px;

   display: flex;
}

.btn-list-style,
.btn-list-copy {
   margin: 0 2px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 2px;
   background-color: rgba(255, 255, 255, 0.05);

   pointer-events: all;
   cursor: pointer;
}

.btn-list-style .icon__img,
.btn-list-copy .icon__img {
   width: 14px;
   height: 14px;
   opacity: 0.3;
}

.words__list {
   flex: 0 1 auto;
   width: calc(100% - 48px);

   display: flex;
   align-items: center;
   justify-content: flex-start;

   flex-wrap: wrap;
}

.word__item {
   margin: 5px;

   padding: 3px 6px;
   max-width: 100%;
   min-height: 20px;

   display: flex;
   align-items: flex-start;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 130%;
   letter-spacing: 0.02em;

   white-space: nowrap;

   border-radius: 2px;
   color: rgba(255, 255, 255, 0.8);
   background: rgba(255, 255, 255, 0.05);

   cursor: pointer;
}

.word__item p {
   display: block;
   width: calc(100% - 12px - 5px);
   white-space: pre-line;
   word-break: break-all;
}

.word__item_clear {
   width: 40px;
}

.btn-delete {
   margin: 0 0 0 5px;

   flex: 0 0 12px;
   width: 12px;
   height: 12px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.btn-delete .icon__img {
   width: 100%;
   height: 100%;
}

.word__input {
   width: 200px;
   height: 20px;

   outline: none;
   border: none;
   background-color: transparent;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 130%;
   letter-spacing: 0.02em;

   color: rgba(255, 255, 255, 0.8);
}

.word__input::placeholder {
   color: rgba(255, 255, 255, 0.2);
}


/* ========= result ========= */

.result {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.result__header {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.result__line {
   margin: var(--line-margin);
   width: 100%;
   height: var(--line-h);
   border-radius: var(--line-h);
   background-color: var(--line-bg);
}


.result__content {
   margin: var(--result-content-margin);
   width: 100%;
}

.result__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}


.result_item {
   margin: var(--item-margin);
   width: 100%;
   cursor: pointer;
}

.result_prompt {
   position: relative;
   padding: 20px 30px 20px 20px;
   width: 100%;
   background-color: var(--prompt-output-bg);
   border-radius: var(--prompt-border-radius);
}

.prompt-result {
   width: 100%;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: var(--prompt-font-size);
   line-height: var(--prompt-line-height);
   text-align: var(--prompt-text-align);
   letter-spacing: var(--prompt-letter-spacing);
   color: var(--prompt-text-color);
}

.prompt-result a {
   text-decoration: none;
   text-transform: none;
}

.btn-copy {
   position: absolute;
   right: 0;
   top: 7px;
   opacity: 0.5;
}

/* ========== footer ========== */

.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: var(--footer-margin);
   width: 100%;
}

.copyright {
   padding: 5px;
}

.copyright__box {
   display: flex;
   font-size: var(--copyright-size);
   color: var(--copyright-color);
}

.copyright__item {
   text-transform: capitalize;
   margin: 0 2px;
   color: inherit;
}

.copyright_link {
   overflow: hidden;
   display: block;
   position: relative;
   text-transform: uppercase;
   text-decoration: none;
   color: var(--copyright-color);
   transition: color 150ms ease-out;
}

.copyright_link:hover {
   color: var(--copyright-color-h);
}

.copyright_link::after {
   content: "";
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 1px;
   border-radius: 1px;
   background-color: var(--copyright-color);
   transform: translateX(-105%);
   transition: transform 150ms ease-out;
}

.copyright_link:hover::after {
   transform: translateX(0);
}


/* ============ MEDIA ============ */

@media (max-width: 1024px) {
   :root {}
}

@media (max-width: 768px) {
   .prompt {
      flex-direction: column;
   }

   .prompt__text {
      width: 100%;
   }
}

@media (max-width: 500px) {
   #btnRestart {
      /* width: 24px; */
      /* height: 24px; */
   }
}

@media (max-width: 425px) {
   :root {}
}

@media (max-width: 375px) {
   :root {}
}

@media (max-width: 320px) {
   :root {}
}


/* ============ END :) ============ */