/* ============ ROOT ============ */
/* ============ TITLE ============ */

.title {
   width: 100%;

   display: flex;
   align-items: flex-end;
   justify-content: center;
}

.title__h1 {
   margin: 0 4px;

   font-family: "Montserrat";
   font-size: 32px;
   font-style: normal;
   font-weight: 900;
   line-height: 0.7;
   letter-spacing: var(--letter-spacing);

   text-transform: uppercase;

   color: var(--color-main);
}

/* ============ ANIMATION ============ */

@media (min-width: 768px) {}

/* ============ MEDIA ============ */

@media (max-width: 1024px) {
   :root {}
}

@media (max-width: 768px) {
   .title__h1 {
      font-size: 24px
   }
}

@media (max-width: 500px) {
   :root {}
}

@media (max-width: 425px) {
   .title__h1 {
      font-size: 20px
   }
}

@media (max-width: 375px) {
   :root {}
}

@media (max-width: 320px) {
   :root {}
}

/* ============ END :) ============ */