/* ============ ROOT ============ */

:root {
   --settings-margin: 0 0 var(--gap) 0;

   --keywords-padding: calc(var(--gap) / 2) var(--gap);

   --keyword-mh: 30px;
   --word-mh: 24px;

   --keyword-caption-w: 200px;
   --words-w: calc(100% - var(--keyword-caption-w));

   --keyword-icon-s: 12px;
   --keyword-icon-margin: 6px;

   --keyword-status-s: 14px;
   --keyword-status-margin: 10px;

   --btn: 20px;
   --btn-margin: 2px;
   --buttons-w: calc((var(--btn) * 2) + (var(--btn-margin) * 2));
   --words-w: calc(100% - var(--buttons-w));

   --word-name-w: calc(100% - (var(--keyword-icon-s) + var(--keyword-icon-margin)));

   --parameters-w: 200px;
   --parameters-margin: 20px;
   --prompt-w: calc(100% - (var(--parameters-w) + var(--parameters-margin)));

   --prompt-padding-btn: 10px;
   --prompt-padding: 30px;
   --prompt-padding-bottom: calc(var(--prompt-padding) + (var(--prompt-padding-btn) * 2));
   --prompt-input-mh: calc(120px + (var(--prompt-padding-btn) * 2));
   --prompt-output-mh: 100px;
}

/* ============ SPACE ============ */

.space {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

/* SETTINGS */

.settings {
   width: 100%;
   margin: var(--settings-margin);

   display: flex;
}


.prompt {
   flex: 1 0;
   width: var(--prompt-w);

   display: flex;
   flex-direction: column;
   margin-right: var(--gap);
}


.prompt__input-box {
   margin-bottom: var(--gap);
   width: 100%;
   height: 100%;
   flex: 1;
}

.prompt__input {
   position: relative;
   width: 100%;

   display: flex;
}

.prompt__input-text {
   padding: var(--prompt-padding) var(--prompt-padding) var(--prompt-padding-bottom) var(--prompt-padding);
   min-height: var(--prompt-input-mh);
   width: 100%;

   border-radius: var(--icon-radius);
   border: var(--border-s) solid var(--bg-05);
   background-color: var(--bg-01);
}

.prompt__input-text::placeholder {
   color: var(--bg-4);
}

.prompt__input-text:focus+.btn-apply {
   opacity: 0.8;
}

._autosize {
   overflow: hidden;
   resize: none;
   outline: none;
}

.btn-apply {
   position: absolute;
   bottom: var(--prompt-padding-btn);
   right: var(--prompt-padding-btn);

   display: flex;
   align-items: center;
   justify-content: center;

   width: auto;
   height: auto;
   padding: 8px 14px;
   border-radius: var(--icon-radius);

   pointer-events: all;
   cursor: pointer;
   transition: opacity 150ms ease-in-out;
   opacity: 0.5;

   background-color: var(--bg-05);
}

.btn-name {
   margin-left: 6px;

   font-family: "Montserrat";
   font-size: var(--h4-s);
   font-style: normal;
   font-weight: 500;
   text-transform: capitalize;
}


.prompt__output-box {
   width: 100%;
   height: 100%;
   flex: 1 0 var(--prompt-output-mh);
}

.prompt__output {
   width: 100%;
   height: 100%;

   border-radius: var(--icon-radius);

   background-color: var(--bg-05);
}

.prompt-template {
   padding: var(--prompt-padding);
   width: 100%;
   height: 100%;
   word-wrap: break-word;
   white-space: normal;
}

.prompt-key {
   text-decoration: none;
   font-weight: 600;
   text-transform: uppercase;
}

.prompt-parameter {
   text-decoration: none;
   font-weight: 600;
   text-transform: lowercase;
}


.prompt__input-text,
.prompt-template {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: var(--h4-s);
   line-height: var(--line-height);
   text-align: left;
   letter-spacing: var(--letter-spacing);
   color: var(--color-main);
}

._red {
   color: var(--red);
}

._green {
   color: var(--green);
}

._blue {
   color: var(--blue);
}


/* ============ PARAMETERS ============ */

:root {
   --parameters-list-padding: 0px;

   --param-font-s: 11px;
   --param-h: 24px;
   --param-name-w: 100px;
   --param-name-padding: 2px 5px;

   --param-data-w: 90px;
}

.parameters {
   width: var(--parameters-w);
   flex: 0 0 var(--parameters-w);
}

.parameters__list {
   padding: var(--parameters-list-padding);
   width: 100%;
}

.param {
   width: 100%;
   height: var(--param-h);
   margin: 0 0 6px 0;

   display: flex;
   transition: background 150ms ease-out;
}

.param:hover {
   background-color: var(--bg-01);
}

.param:last-child {
   margin: 0;
}

.param.highlighted {
   animation: select 2000ms ease-out;
}


.param__name {
   padding: var(--param-name-padding);
   width: var(--param-name-w);
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: space-between;

   cursor: none;
   user-select: none;
   pointer-events: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;

   /* background-color: var(--bg-01); */
}

.param__title {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: var(--param-font-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);

   text-transform: capitalize;

   color: var(--color-main);
}

.param__icon {}


.param__data {
   margin: 0 0 0 10px;
   width: var(--param-data-w);
   height: 100%;
   background-color: var(--bg-01);
}

.param__off {
   pointer-events: none;
   color: rgba(255, 255, 255, 0.5);
   background-color: rgba(255, 255, 255, 0.1);
}

/* KEYWORDS */

.keywords {
   width: 100%;

   /* clear */
   /* background-color: rgba(240, 157, 224, 0.1); */
}

.keywords__content {
   width: 100%;
}

.keywords__list {
   width: 100%;

   display: flex;
   flex-direction: column;
}

/* KEYWORD */

.keyword {
   width: 100%;
   min-height: var(--keyword-mh);
   padding: var(--keywords-padding);
   margin: 5px 0;

   display: flex;
   align-items: flex-start;

   border-radius: var(--icon-radius);
}

.keyword.highlighted {
   animation: select 2000ms ease-out;
}

@keyframes select {
   0% {
      background-color: rgba(255, 255, 255, 0);
   }

   40% {
      background-color: rgba(255, 255, 255, 0.05);
   }

   60% {
      background-color: rgba(255, 255, 255, 0.05);
   }

   95% {
      background-color: rgba(255, 255, 255, 0);
   }
}

.keyword.lock {}

/* KEYWORD CAPTION */

.keyword__caption {
   width: var(--keyword-caption-w);
   flex: 0 0 var(--keyword-caption-w);
   height: var(--keyword-mh);

   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.keyword__icon {
   flex: 0 0 var(--keyword-icon-s);
   margin-right: var(--keyword-icon-margin);
}


.keyword__title {
   position: relative;

   --i: var(--keyword-icon-s) + var(--keyword-icon-margin);
   --s: var(--keyword-status-s) + var(--keyword-status-margin);
   width: calc(100% - calc(var(--i) + var(--s)));
   flex: 1;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   font-size: var(--h4-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);
   text-transform: uppercase;
}

.title-container {
   max-width: 100%;
   width: fit-content;
   cursor: help;
}

.title-container:hover::after {
   content: attr(data-title);

   display: block;
   overflow: hidden;
   position: absolute;
   left: 0;
   bottom: calc(100% + 4px);

   padding: 5px;
   width: 150px;
   height: auto;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: var(--h5-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);
   text-transform: none;
   white-space: pre-line;
   word-break: break-all;

   border-radius: 2px;
   border: var(--link-border-s) dashed var(--border-bg);

   color: var(--h5-color);
   background-color: var(--bg-1);
}

.title-name {
   overflow: hidden;
   display: block;

   width: 100%;

   text-overflow: ellipsis;
   white-space: nowrap;
}

.keyword.lock .title-name {
   color: var(--red);
}

.keyword .title-name {
   color: var(--green);
}


.keyword__status {
   width: var(--keyword-status-s);
   height: var(--keyword-status-s);
   flex: 0 0 var(--keyword-status-s);
   margin: 0 var(--keyword-status-margin);

   display: flex;
   align-items: center;
   justify-content: center;
}

.svg-lock {
   width: 100%;

   cursor: pointer;
}

.keyword__status path {
   transition: all 200ms ease-in-out;
}


.keyword .svg-lock-circle {
   transform: rotate(20deg) translateX(-2px);
}

.keyword .svg-lock path {
   fill: var(--green);
}

.keyword.lock .svg-lock-circle {
   transform: rotate(0);
}

.keyword.lock .svg-lock path {
   fill: var(--red);
}

.svg-lock-circle {
   transform-origin: center center;
}

/* KEYWORDS WORDS */

.words {
   width: var(--words-w);
   height: 100%;
   flex: 1;

   display: flex;
   align-items: flex-start;
   justify-content: center;
}


.words__box {
   width: var(--words-w);
   flex: 0 1 var(--words-w);
}


.words__list {
   margin-right: 15px;
   width: calc(100% - 15px);

   display: flex;
   align-items: flex-start;
   justify-content: flex-start;

   flex-wrap: wrap;
}

.words__list._grid {
   flex-direction: row;
}

.words__list._list {
   flex-direction: column;
}

.word {
   margin: 5px;
   padding: 3px 6px;
   max-width: 100%;
   min-height: var(--word-mh);

   display: flex;
   align-items: flex-start;
   justify-content: center;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: var(--h4-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);

   white-space: nowrap;

   cursor: grabbing;

   border-radius: var(--icon-radius);

   color: var(--color-main);
   background: var(--bg-05);
}

.word._clear {
   width: 40px;
}

.word__name {
   display: block;

   width: max-content;

   white-space: pre-line;
   word-break: break-all;
}

.btn-delete {
   margin: 3px 0 3px var(--keyword-icon-margin);
   flex: 0 0 var(--keyword-icon-s);

   cursor: pointer;
}


.words__add {
   margin: 10px 20px 0 5px;
   padding: 3px 6px;
   width: calc(100% - 25px);
   height: 30px;

   display: flex;
   align-items: center;
   justify-content: center;

   border: var(--link-border-s) solid transparent;
   border-radius: var(--icon-radius);
   background-color: rgba(76, 179, 73, 0.05);
}

.words__input {
   width: 100%;
   height: 20px;

   outline: none;
   border: none;
   background-color: transparent;


   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: var(--h4-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);

   color: var(--color-main);
}

.words__input::placeholder {
   font-weight: 400;
   color: var(--h5-color);
}

.btn-add {
   padding: 4px 6px;
   margin-left: 20px;
   width: auto;
   height: auto;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: var(--h5-s);
   line-height: var(--line-height);
   letter-spacing: var(--letter-spacing);
   text-transform: capitalize;

   cursor: pointer;

   border-radius: var(--icon-radius);
   background-color: var(--bg-01);
}


.buttons {
   width: var(--buttons-w);
   flex: 0 0 var(--buttons-w);

   display: flex;
}

.btn-copy,
.btn-grid {
   margin: 0 var(--btn-margin);

   border-radius: var(--icon-radius);

   pointer-events: all;
   cursor: pointer;

   background-color: var(--bg-05);
}

.btn-copy img,
.btn-grid img {
   opacity: 0.3;
}

/* ============ RESULT ============ */

.result {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.result__title {
   width: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
}


.result__line {
   margin: 6px 0;
   width: 100%;
   height: 3px;

   border-radius: var(--icon-radius);
   background-color: var(--bg-05);
}


.result__content {
   margin: var(--gap);
   width: 100%;
}

.result__list {
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.result__prompt {
   position: relative;
   margin: calc(var(--gap) / 2);
   width: 100%;

   border: var(--link-border-s) solid transparent;
   border-radius: var(--icon-radius);
   background-color: var(--bg-05);

   outline: none;
   cursor: pointer;
}

.result__prompt .prompt-template {
   padding: 20px 30px 20px 20px;
}

.result__prompt .prompt-key {
   text-decoration: none;
   text-transform: none;
}

.result__prompt .btn-copy {
   position: absolute;
   right: 4px;
   top: 7px;
   opacity: 0.5;
   background-color: transparent;
}

/* ============ ANIMATION ============ */

@media (min-width: 768px) {

   .result__prompt {
      transition: background 200ms ease-in-out, border 200ms ease-in-out, transform 100ms ease-in-out;
   }

   .result__prompt:hover,
   .result__prompt:focus {
      background-color: var(--bg-08);
      border: var(--link-border-s) solid var(--bg-1);
   }

   .result__prompt:active {
      transform: scale(.99);
   }

   @keyframes shake {
      0% {
         transform: translate(.5px, .5px) rotate(0deg);
      }

      10% {
         transform: translate(-.5px, -.5px) rotate(-1deg);
      }

      20% {
         transform: translate(-.5px, 0px) rotate(1deg);
      }

      30% {
         transform: translate(.5px, .5px) rotate(0deg);
      }

      40% {
         transform: translate(.5px, -.5px) rotate(1deg);
      }

      50% {
         transform: translate(-.5px, .5px) rotate(-1deg);
      }

      60% {
         transform: translate(-.5px, .5px) rotate(0deg);
      }

      70% {
         transform: translate(.5px, .5px) rotate(-1deg);
      }

      80% {
         transform: translate(-.5px, -.5px) rotate(1deg);
      }

      90% {
         transform: translate(.5px, .5px) rotate(0deg);
      }

      100% {
         transform: translate(.5px, -.5px) rotate(-1deg);
      }
   }

   .result__prompt .btn-copy {
      transition: opacity 200ms ease-in-out;
   }

   .result__prompt:hover .btn-copy {
      opacity: 1;
      animation: shake 500ms infinite;
   }

   .buttons .btn-copy:hover,
   .buttons .btn-grid:hover {
      transition: background 150ms ease-out, transform 100ms ease-in-out;
   }

   .buttons .btn-copy img,
   .buttons .btn-grid img {
      transition: opacity 150ms ease-out;
   }

   .buttons .btn-copy:hover,
   .buttons .btn-grid:hover {
      background-color: var(--bg-08);
   }

   .buttons .btn-copy:hover img,
   .buttons .btn-grid:hover img {
      opacity: .8;
   }

   .buttons .btn-copy:active,
   .buttons .btn-grid:active {
      transform: scale(.95);
   }

   .btn-add {
      transition: background 120ms ease-out;
   }

   .btn-add:hover {
      background-color: var(--bg-05);
   }

   .btn-add:active {
      transform: scale(.95);
   }

   .btn-delete {
      transition: background 100ms ease-in-out;
   }

   .btn-delete:hover {
      border-radius: var(--border-s);
      background-color: var(--color-main);
   }
}

/* ============ MEDIA ============ */

@media (max-width: 1024px) {
   :root {}
}

@media (max-width: 768px) {
   :root {
      --keyword-caption-w: 100%;
      --words-w: 100%;

      --parameters-w: 100%;

      --prompt-padding: 26px;
      --prompt-input-mh: auto;
      --prompt-output-mh: 80px;

      /* parameters */
      --parameters-list-padding: 20px;
      --param-data-w: 120px;

      --param-font-s: 10px;
   }

   .keyword {
      margin: 5px 0 30px 0;
      flex-direction: column;
   }

   .keyword__caption {
      margin-bottom: 10px;
   }

   .settings {
      flex-direction: column;
   }

   .prompt {
      width: 100%;
      margin: 0 0 var(--gap) 0;
   }

   .parameters {
      border-radius: var(--icon-radius);
      border: var(--border-s) solid var(--bg-05);
   }
}

@media (max-width: 500px) {
   :root {
      --word-mh: 20px;

      --prompt-padding: 20px;

      /* parameters */
      --param-font-s: 10px;
   }

   .word {
      margin: 2px;
   }

   .btn-delete {
      margin: 1px 0 1px var(--keyword-icon-margin);
   }

   .words__add {
      margin: 10px 20px 0 2px;
   }

   .param {
      justify-content: space-between;
   }
}

@media (max-width: 425px) {
   :root {}
}

@media (max-width: 375px) {
   :root {}
}

@media (max-width: 320px) {
   :root {}
}

/* ============ END :) ============ */